<ion-header>
  <ion-toolbar>
    <ion-title>Control de Calidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form novalidate>

    <ion-item>

      <ion-label position="stacked">Región</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Región"
        [(ngModel)]="control.region_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let region of regiones" 
          [value]="region.region_id">
          {{ region.region_nombre }}
        </ion-select-option>

      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Productor</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Productor"
        [(ngModel)]="control.productor_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let productor of productores" 
          [value]="productor.productor_id">
          {{ productor.productor_nombre }}
        </ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Especie</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Especie"
        [(ngModel)]="control.especie_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let especie of especies" 
          [value]="especie.especie_id">
          {{ especie.especie_nombre }}
        </ion-select-option>

      </ion-select>
    </ion-item>



    <ion-item>
      <ion-label position="stacked">Variedad</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Variedad"
        [(ngModel)]="control.variedad_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let variedad of variedades" 
          [value]="variedad.variedad_id">
          {{ variedad.variedad_nombre }}
        </ion-select-option>
      </ion-select>

    </ion-item>


    <ion-item>
      <ion-label position="stacked">Calibre</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Calibre"
        [(ngModel)]="control.calibre_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let calibre of calibres" 
          [value]="calibre.calibre_id">
          {{ calibre.calibre_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>







    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Categoría"
        [(ngModel)]="control.categoria_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let categoria of categorias" 
          [value]="categoria.categoria_id">
          {{ categoria.categoria_nombre }}
        </ion-select-option>
      </ion-select>

    </ion-item>


    <ion-item>
      <ion-label position="stacked">Embalaje</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Embalaje"
        [(ngModel)]="control.embalaje_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let embalaje of embalajes" 
          [value]="embalaje.embalaje_id">
          {{ embalaje.embalaje_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>




    <ion-item>
      <ion-label position="stacked">Etiqueta</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Etiqueta"
        [(ngModel)]="control.etiqueta_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let etiqueta of etiquetas" 
          [value]="etiqueta.etiqueta_id">
          {{ etiqueta.etiqueta_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Peso</ion-label>

      <ion-input
        type="select" 
        placeholder="Peso"
        [(ngModel)]="control.peso"
        [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-item>



    <ion-button fill="solid" expand="block" color="primary" (click)="guardarContinuar()">
      Guardar y Continuar
    </ion-button>

    <ion-button fill="solid" expand="block" color="light" (click)="irHome()">
      Volver
    </ion-button>

  </form>



</ion-content>
