<!--
<ion-header>
  <ion-toolbar>
    <ion-title>
      Nuevo QC 
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="cargarInformacionInicial(true, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form 
    *ngIf="muestra"
    [formGroup]="control" 
    (ngSubmit)="guardarMuestra()">

    <!--{{ muestra | json }}-->
    

    <ion-item>
      <ion-label position="stacked">
          Código QR
      </ion-label>
      <ion-input
        disabled="true"
        placeholder="Codigo QR"
        formControlName="muestra_qr">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.muestra_qr">
        <ion-item class="error-messages" *ngIf="control.get('muestra_qr').hasError(error.type) 
            && (control.get('muestra_qr').dirty 
            || control.get('muestra_qr').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>


    <ion-item>
      <ion-label 
        position="stacked">
          Fecha Jornada <span style="float:right;" *ngIf="muestra.muestra_fecha">{{ muestra.muestra_fecha }}</span>
      </ion-label>
      <!--displayFormat="MMM DD, YYYY HH:mm" -->
      <ion-datetime 
        [value]="muestra.muestra_fecha || muestra_fecha_por_defecto"
        displayFormat="YYYY/MM/DD" 
        formControlName="muestra_fecha">
      </ion-datetime>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.muestra_fecha">
        <ion-item class="error-messages" *ngIf="control.get('muestra_fecha').hasError(error.type) 
            && (control.get('muestra_fecha').dirty 
            || control.get('muestra_fecha').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>


    <ion-item>
      <ion-label 
        position="stacked">
          Región
      </ion-label>
      <ion-select
        okText="OK" 
        [(ngModel)]="region_id"
        cancelText="Cancelar"
        [placeholder]="muestra.region ? muestra.region.region_nombre : 'Región'"
        formControlName="region_id">
        <ion-select-option 
          [selected]="(muestra.region_id==region.region_id)?true:false"
          *ngFor="let region of regiones" 
          [value]="region.region_id">
          {{ region.region_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.region_id">
        <ion-item class="error-messages" *ngIf="control.get('region_id').hasError(error.type) 
            && (control.get('region_id').dirty 
            || control.get('region_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>


    <ion-item>
      <ion-label 
        position="stacked">
          Productor
      </ion-label>
      <ion-select
        okText="OK" 
        cancelText="Cancelar"
        [placeholder]="muestra.productor ? muestra.productor.productor_nombre : 'Productor'"
        formControlName="productor_id">
        <ng-container *ngFor="let productor of productores">
          <!--*ngIf="productor.region_id == muestra.region_id"-->
          <ion-select-option 
            *ngIf="productor.region_id == region_id"
            [selected]="(muestra.productor_id == productor.productor_id)?true:false"
            [value]="productor.productor_id">
            {{ productor.productor_nombre }}
          </ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.productor_id">
        <ion-item class="error-messages" *ngIf="control.get('productor_id').hasError(error.type) 
            && (control.get('productor_id').dirty 
            || control.get('productor_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-item>
      <ion-label 
        position="stacked">
          Especie
      </ion-label>
      <ion-select
        okText="OK" 
        cancelText="Cancelar"
        [placeholder]="muestra.especie ? muestra.especie.especie_nombre : 'Especie'"
        formControlName="especie_id">
        <ion-select-option 
        [selected]="(muestra.especie_id==especie.especie_id)?true:false"
          *ngFor="let especie of especies" 
          [value]="especie.especie_id">
          {{ especie.especie_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.especie_id">
        <ion-item class="error-messages" *ngIf="control.get('especie_id').hasError(error.type) 
            && (control.get('especie_id').dirty 
            || control.get('especie_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-item>
      <ion-label 
        position="stacked">
          Variedad
      </ion-label>
      <ion-select
        okText="OK" 
        cancelText="Cancelar"
        [placeholder]="muestra.variedad ? muestra.variedad.variedad_nombre : 'Variedad'"
        formControlName="variedad_id">
        <ion-select-option 
          [selected]="(muestra.variedad_id==variedad.variedad_id)?true:false"
          *ngFor="let variedad of variedades" 
          [value]="variedad.variedad_id">
          {{ variedad.variedad_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.variedad_id">
        <ion-item class="error-messages" *ngIf="control.get('variedad_id').hasError(error.type) 
            && (control.get('variedad_id').dirty 
            || control.get('variedad_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-item>
      <ion-label 
        position="stacked">
          Calibre
      </ion-label>
      <ion-select
        okText="OK" 
        cancelText="Cancelar"
        placeholder="Calibre"
        [placeholder]="muestra.calibre ? muestra.calibre.calibre_nombre : 'Calibre'"
        formControlName="calibre_id">
        <ion-select-option 
          [selected]="(muestra.calibre_id==calibre.calibre_id)?true:false"
          *ngFor="let calibre of calibres" 
          [value]="calibre.calibre_id">
          {{ calibre.calibre_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.calibre_id">
        <ion-item class="error-messages" *ngIf="control.get('calibre_id').hasError(error.type) 
            && (control.get('calibre_id').dirty 
            || control.get('calibre_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>


    <ion-list>
      <ion-radio-group 
        formControlName="categoria_id">
        <ion-list-header>
          Categoria
        </ion-list-header>
        <ion-item *ngFor="let categoria of categorias">
          <ion-label>{{ categoria.categoria_nombre }}</ion-label>
          <ion-radio [value]="categoria.categoria_id" checked="{{(muestra.categoria_id==categoria.categoria_id)?'true':'false'}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ng-container>
      <div *ngFor="let error of error_messages.categoria_id">
        <ion-item class="error-messages" *ngIf="control.get('categoria_id').hasError(error.type) 
            && (control.get('categoria_id').dirty 
            || control.get('categoria_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>
    <!--
    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Categoría"
        [(ngModel)]="control.categoria_id"
        [ngModelOptions]="{standalone: true}">
        <ion-select-option 
          *ngFor="let categoria of categorias" 
          [value]="categoria.categoria_id">
          {{ categoria.categoria_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    -->





    <ion-item>
      <ion-label 
        position="stacked">
          Embalaje
      </ion-label>
      <ion-select
        okText="OK" 
        cancelText="Cancelar"
        [placeholder]="muestra.embalaje ? muestra.embalaje.embalaje_nombre : 'Embalaje'"
        formControlName="embalaje_id">
        <ion-select-option 
          [selected]="(muestra.embalaje_id==embalaje.embalaje_id)?true:false"
          *ngFor="let embalaje of embalajes" 
          [value]="embalaje.embalaje_id">
          {{ embalaje.embalaje_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.embalaje_id">
        <ion-item class="error-messages" *ngIf="control.get('embalaje_id').hasError(error.type) 
            && (control.get('embalaje_id').dirty 
            || control.get('embalaje_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>


  

    <ion-item>
      <ion-label 
        position="stacked">
          Etiqueta
      </ion-label>
      <ion-select
        okText="OK" 
        cancelText="Cancelar"
        [placeholder]="muestra.etiqueta ? muestra.etiqueta.etiqueta_nombre : 'Etiqueta'"
        formControlName="etiqueta_id">
        <ion-select-option 
          [selected]="(muestra.etiqueta_id==etiqueta.etiqueta_id)?true:false"
          *ngFor="let etiqueta of etiquetas" 
          [value]="etiqueta.etiqueta_id">
          {{ etiqueta.etiqueta_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.etiqueta_id">
        <ion-item class="error-messages" *ngIf="control.get('etiqueta_id').hasError(error.type) 
            && (control.get('etiqueta_id').dirty 
            || control.get('etiqueta_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>


  
  

    <ion-item>
      <ion-label 
        position="stacked">
          Peso
      </ion-label>
      <ion-input
        type="number" 
        placeholder="Peso"
        formControlName="muestra_peso">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.muestra_peso">
        <ion-item class="error-messages" *ngIf="control.get('muestra_peso').hasError(error.type) 
            && (control.get('muestra_peso').dirty 
            || control.get('muestra_peso').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-item>
      <ion-label 
        position="stacked">
          Bolsas
      </ion-label>
      <ion-input
        type="number" 
        placeholder="Bolsas"
        formControlName="muestra_bolsas">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.muestra_bolsas">
        <ion-item class="error-messages" *ngIf="control.get('muestra_bolsas').hasError(error.type) 
            && (control.get('muestra_bolsas').dirty 
            || control.get('muestra_bolsas').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-item>
      <ion-label 
        position="stacked">
          Racimos
      </ion-label>
      <ion-input
        type="number" 
        placeholder="Racimos"
        formControlName="muestra_racimos">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.muestra_racimos">
        <ion-item class="error-messages" *ngIf="control.get('muestra_racimos').hasError(error.type) 
            && (control.get('muestra_racimos').dirty 
            || control.get('muestra_racimos').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-item>
      <ion-label 
        position="stacked">
          Brix
      </ion-label>
      <ion-input
        type="number" 
        placeholder="Brix"
        formControlName="muestra_brix">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.muestra_brix">
        <ion-item class="error-messages" *ngIf="control.get('muestra_brix').hasError(error.type) 
            && (control.get('muestra_brix').dirty 
            || control.get('muestra_brix').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>


    <ion-item>
      <ion-label 
        position="stacked">
          Desgrane
      </ion-label>
      <ion-input
        type="number" 
        placeholder="Desgrane"
        formControlName="muestra_desgrane">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.muestra_desgrane">
        <ion-item class="error-messages" *ngIf="control.get('muestra_desgrane').hasError(error.type) 
            && (control.get('muestra_desgrane').dirty 
            || control.get('muestra_desgrane').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-item>
      <ion-label 
        position="stacked">
          Nro Pallet
      </ion-label>
      <ion-input
        type="number" 
        placeholder="Pallet"
        formControlName="lote_codigo">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.lote_codigo">
        <ion-item class="error-messages" *ngIf="control.get('lote_codigo').hasError(error.type) 
            && (control.get('lote_codigo').dirty 
            || control.get('lote_codigo').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>
  
    <ion-item>
      <ion-label 
        position="stacked">
          Estado Muestra
      </ion-label>
      <ion-select
        okText="OK" 
        cancelText="Cancelar"
        [placeholder]="muestra.estado_muestra ? muestra.estado_muestra.estado_muestra_nombre : 'Estado'"
        formControlName="estado_muestra_id">
        <ion-select-option 
          [selected]="(muestra.estado_muestra_id==estado.estado_muestra_id)?true:false"
          *ngFor="let estado of estados_muestras" 
          [value]="estado.estado_muestra_id">
          {{ estado.estado_muestra_nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.estado_muestra_id">
        <ion-item class="error-messages" *ngIf="control.get('estado_muestra_id').hasError(error.type) 
            && (control.get('estado_muestra_id').dirty 
            || control.get('estado_muestra_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>
    

    <!--
    <ion-item>
      <ion-label position="stacked">Apariencia</ion-label>

      <ion-select
        okText="OK" cancelText="Cancelar"
        placeholder="Apariencia"
        [(ngModel)]="control.apariencia_id"
        [ngModelOptions]="{standalone: true}">

        <ion-select-option 
          *ngFor="let apariencia of apariencias" 
          [value]="apariencia.apariencia_id">
          {{ apariencia.apariencia_nombre }}
        </ion-select-option>
      </ion-select>

    </ion-item>
    -->

    <ion-list>
      <ion-radio-group 
        formControlName="apariencia_id">
        <ion-list-header>
          Apariencia
        </ion-list-header>
        <ion-item *ngFor="let apariencia of apariencias">
          <ion-label>{{ apariencia.apariencia_nombre }}</ion-label>
          <ion-radio [value]="apariencia.apariencia_id" checked="{{(muestra.apariencia_id==apariencia.apariencia_id)?'true':'false'}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ng-container>
      <div *ngFor="let error of error_messages.apariencia_id">
        <ion-item class="error-messages" *ngIf="control.get('apariencia_id').hasError(error.type) 
            && (control.get('apariencia_id').dirty 
            || control.get('apariencia_id').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>
    

    <ion-button 
      fill="solid" 
      expand="block" 
      color="primary" 
      type="submit" 
      [disabled]="!control.valid && !muestra.muestra_fecha && !muestra.muestra_qr "
      >
      <!--[disabled]="!control.valid && !muestra.muestra_fecha"-->
      Guardar y Continuar
    </ion-button>


  </form>

</ion-content>


<ion-footer padding>
  <!--<ion-button fill="solid" expand="block" color="light" (click)="irHome()">-->
  <ion-button fill="solid" expand="block" color="light" (click)="irListaMuestras()">
    Volver a muestras
  </ion-button>
</ion-footer>