<ion-header>
  <ion-toolbar>
    <ion-title>Calidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <h1>
    Calidad
    <span style="float:right;">B</span>
  </h1>
  


  <ion-item>
    <ion-label position="stacked">NOTAS</ion-label>

    <ion-list>


      <ion-item *ngFor="let defecto of defectos">
        <ion-avatar slot="start">
          <!-- <ion-img src="/docs/assets/img/avatar-finn.png"></ion-img> -->
          <h2>{{defecto.nota}}</h2>
        </ion-avatar>
        <ion-label>
          <h2>{{defecto.defecto}}</h2>
          <h3>{{defecto.descripcion}}</h3>
          <p>{{defecto.textoAdicional}}</p>
          <p>{{defecto.categoria}}</p>
        </ion-label>
      </ion-item>


    </ion-list>

  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="abrirModalFormularioCalidad()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <!--
    <ion-fab-list side="top" >
      Abrir Modal
    </ion-fab-list>

    <ion-fab-list side="start">
      Agregar Nota Condicion
    </ion-fab-list>
    -->

  </ion-fab>

</ion-content>

<ion-footer padding>
  <!--
  <ion-button fill="solid" expand="block" color="primary" (click)="irHome()">
    Guardar y Continuar
  </ion-button>
  -->

  <ion-button fill="solid" expand="block" color="light" (click)="irCalidadCondicionMenu()">
    Volver
  </ion-button>
    
</ion-footer>