<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar Código</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form action="">
    <ion-item>
        <ion-label position="stacked">Código que equivaldrá al QR</ion-label>
  
        <ion-input
          type="text" 
          placeholder="Codigo"
          [(ngModel)]="ingreso.codigo"
          [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>


  


  </form>

</ion-content>

<ion-footer padding>

  <ion-button fill="solid" expand="block" color="primary" (click)="guardarContinuar()">
    Guardar y Continuar
  </ion-button>

</ion-footer>