<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<!-- View content -->
<ion-content padding hide-tabs>
  <!--<ion-img src="/assets/imgs/uvanegra.jpg"></ion-img>-->
<!--
  <ion-item style="padding-bottom: 20px;">
    <h2>A&A APP</h2>
  </ion-item>
-->

  <ion-img src="/assets/imgs/logo_cfsmqc.png"></ion-img>
  <!-- 
    ##########################################################
            LOGIN CON CREDENCIALES LOCALSTORAGE || FIREBASE
    ##########################################################
  -->

  <form [formGroup]="credenciales" (ngSubmit)="login()">

    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input
        type="email" 
        formControlName="email">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.email">
        <ion-item class="error-messages" *ngIf="credenciales.get('email').hasError(error.type) 
            && (credenciales.get('email').dirty 
            || credenciales.get('email').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-item>
      <ion-label>Clave</ion-label>
      <ion-input
        type="password"
        formControlName="password">
      </ion-input>
    </ion-item>
    <ng-container>
      <div *ngFor="let error of error_messages.password">
        <ion-item class="error-messages" *ngIf="credenciales.get('password').hasError(error.type) 
            && (credenciales.get('password').dirty 
            || credenciales.get('password').touched)">
          {{ error.message }}
        </ion-item>
      </div>
    </ng-container>

    <ion-button 
      fill="solid" 
      expand="block" 
      color="success" 
      type="submit" 
      [disabled]="!credenciales.valid">
        Login
    </ion-button>
  </form>


  <!-- href="/resetearclave" -->
  <!--
  <ion-item padding>

  </ion-item>

  <ion-button fill="solid" expand="block" color="light" href="#!">
    Olvide mi clave
  </ion-button>

  <ion-button fill="solid" expand="block" color="light" href="/registro">
    Registrar
  </ion-button>
  -->

</ion-content>	

<!--
  <ion-footer padding>
    <ion-button fill="solid" expand="block" color="primary" (click)="login()">
      Login
    </ion-button>
  </ion-footer>
-->