<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<!-- View content -->
<ion-content padding hide-tabs>
  <!--<ion-img src="/assets/imgs/uvanegra.jpg"></ion-img>-->
  

  <ion-item style="padding-bottom: 20px;">
    <!-- <h2>A&A QC MOBILE APP</h2> -->
    <ion-img width="80" height="80" src="/assets/imgs/control-calidad.jpg"></ion-img>
  </ion-item>

  <!-- 
    ##########################################################
            LOGIN CON CREDENCIALES LOCALSTORAGE || FIREBASE
    ##########################################################
  -->

  <form [formGroup]="credenciales" (ngSubmit)="login()">

    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>

      <ion-input
        type="email" 
        [(ngModel)]="datosUsuario.email"
        formControlName="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Clave</ion-label>

      <ion-input
        type="password"
        [(ngModel)]="datosUsuario.password"
        formControlName="password">
      </ion-input>
    </ion-item>

    <ion-button fill="solid" expand="block" color="primary" type="submit" [disabled]="!credenciales.valid">Login</ion-button>
  </form>


  <!-- href="/resetearclave" -->
  <!--
  <ion-item padding>

  </ion-item>

  <ion-button fill="solid" expand="block" color="light" href="#!">
    Olvide mi clave
  </ion-button>

  <ion-button fill="solid" expand="block" color="light" href="/registro">
    Registrar
  </ion-button>
  -->

</ion-content>	

<!--
  <ion-footer padding>
    <ion-button fill="solid" expand="block" color="primary" (click)="login()">
      Login
    </ion-button>
  </ion-footer>
-->