<ion-header>
  <ion-toolbar>
    <ion-title>Calidad y Condición</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>


  <ion-item>
    <h1 text-center>Menú QC</h1>

    <p padding text-center>
      Selecciona calidad o condición para ingresar los defectos de la muestra.
      Desliza hacia izq. o der. para ver más opciones
    </p>
  </ion-item>

  <ion-list>

    <ion-item-sliding>

      <ion-item  (click)="irCalculoCalidad()">

        <ion-avatar slot="start">
          <ion-img src="/assets/imgs/calidad.png"></ion-img>
        </ion-avatar>
        <ion-label>

          <h2>Calidad</h2>
          <p>Ingresar defectos de calidad.</p>

        </ion-label>

        <ion-badge item-end>A</ion-badge>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="favorite(item)">Reiniciar</ion-item-option>
        <ion-item-option color="info" (click)="share(item)">Ver Nota</ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option (click)="irCalculoCalidad()">Ir</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item (click)="irCalculoCondicion()">
        <ion-avatar slot="start">
          <ion-img src="/assets/imgs/condicion.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Condición</h2>
          <p>Ingresar defectos de condición.</p>
        </ion-label>

        <ion-badge item-end color="warning">C</ion-badge>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="favorite(item)">Reiniciar</ion-item-option>
        <ion-item-option color="info" (click)="share(item)">Ver Nota</ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option (click)="irCalculoCondicion()">Ir</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>


  <ion-card>

    <ion-card-header>

      <h3>Nota Final</h3>

      

    </ion-card-header>

    <ion-card-content>

      <p>Resumen de calificaciones</p>
      <p>Detalle básico</p>

    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-list side="top" (click)="abrirModalFormularioCalidadCondicion(1)">
        <ion-img src="/assets/imgs/calidad.png" round ion-fab color="clear"></ion-img>
      </ion-fab-list>
  
      <ion-fab-list side="start" (click)="abrirModalFormularioCalidadCondicion(2)">
        <ion-img src="/assets/imgs/condicion.png" round ion-fab color="clear"></ion-img>
      </ion-fab-list>
  
    </ion-fab>


</ion-content>

<ion-footer padding>
  <ion-button fill="solid" expand="block" color="light" (click)="irControlCalidad()">
    Volver
  </ion-button>
</ion-footer>