<ion-header>
  <ion-toolbar>
    <ion-title>Calidad y Condición</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="cargarInformacionInicial(true, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>

    <ion-card-header>

      <h3>
        Nota Final
        <span style="float:right;">
          <ion-badge *ngIf="nota_global_muestra=='A'" color="primary" item-end>{{ nota_global_muestra }}</ion-badge>
          <ion-badge *ngIf="nota_global_muestra=='B'" color="success" item-end>{{ nota_global_muestra }}</ion-badge>
          <ion-badge *ngIf="nota_global_muestra=='C'" color="warning" item-end>{{ nota_global_muestra }}</ion-badge>
          <ion-badge *ngIf="nota_global_muestra=='O'" color="danger" item-end>{{ nota_global_muestra }}</ion-badge>
          <ion-badge *ngIf="nota_global_muestra=='X'" color="dark" item-end>{{ nota_global_muestra }}</ion-badge>
        </span>

      </h3>  

    </ion-card-header>

    <!--
    <hr>
    <ion-card-content>

      <p>Resumen de calificaciones</p>
      <p>Detalle básico</p>

    </ion-card-content>
    -->

  </ion-card>

  <ion-list>

    <ion-item-sliding>
      <ion-item  (click)="irCalculoCalidad(muestra_id)">
        <ion-avatar slot="start">
          <ion-img src="/assets/imgs/calidad.png"></ion-img>
        </ion-avatar>
        <ion-label>

          <h2>Calidad</h2>
          <p>Ver más</p>

        </ion-label>

        <ion-badge *ngIf="nota_global_calidad=='A'" color="primary" item-end>{{ nota_global_calidad }}</ion-badge>
        <ion-badge *ngIf="nota_global_calidad=='B'" color="success" item-end>{{ nota_global_calidad }}</ion-badge>
        <ion-badge *ngIf="nota_global_calidad=='C'" color="warning" item-end>{{ nota_global_calidad }}</ion-badge>
        <ion-badge *ngIf="nota_global_calidad=='O'" color="danger" item-end>{{ nota_global_calidad }}</ion-badge>
        <ion-badge *ngIf="nota_global_calidad=='X'" color="dark" item-end>{{ nota_global_calidad }}</ion-badge>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="favorite(item)">Reiniciar</ion-item-option>
        <ion-item-option color="info" (click)="share(item)">Ver Nota</ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option (click)="irCalculoCalidad(muestra_id)">Ir</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item (click)="irCalculoCondicion(muestra_id)">
        <ion-avatar slot="start">
          <ion-img src="/assets/imgs/condicion.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Condición</h2>
          <p>Ver más</p>
        </ion-label>

      
        <ion-badge *ngIf="nota_global_condicion=='A'" color="primary" item-end>{{ nota_global_condicion }}</ion-badge>
        <ion-badge *ngIf="nota_global_condicion=='B'" color="success" item-end>{{ nota_global_condicion }}</ion-badge>
        <ion-badge *ngIf="nota_global_condicion=='C'" color="warning" item-end>{{ nota_global_condicion }}</ion-badge>
        <ion-badge *ngIf="nota_global_condicion=='O'" color="danger" item-end>{{ nota_global_condicion }}</ion-badge>
        <ion-badge *ngIf="nota_global_condicion=='X'" color="dark" item-end>{{ nota_global_condicion }}</ion-badge>

      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="favorite(item)">Reiniciar</ion-item-option>
        <ion-item-option color="info" (click)="share(item)">Ver Nota</ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option (click)="irCalculoCondicion(muestra_id)">Ir</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>


  <ion-item>
    <!--Menú titulo-->
    <h1 text-center>QC</h1>

    <p padding text-center>
      Selecciona calidad o condición para ingresar los defectos de la muestra.
      Desliza hacia izq. o der. para ver más opciones
    </p>
  </ion-item>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  
      <!-- Numeros 1 y 2 indican condicion y calidad respectivamente -->
      <ion-fab-list side="top" (click)="abrirModalFormularioCalidadCondicion(1, 'Calidad', muestra_id)">
        <ion-img src="/assets/imgs/calidad.png" round ion-fab color="clear"></ion-img>
        <span>Calidad</span>
      </ion-fab-list>
  
      <ion-fab-list side="start" (click)="abrirModalFormularioCalidadCondicion(2, 'Condición', muestra_id)">
        <ion-img src="/assets/imgs/condicion.png" round ion-fab color="clear"></ion-img>
        <span>Condición</span>
      </ion-fab-list>
  
    </ion-fab>


</ion-content>

<!--
<ion-footer padding>
  <ion-button fill="solid" expand="block" color="light" (click)="irControlCalidad(muestra_id)">
    Volver
  </ion-button>
</ion-footer>
-->