<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Muestras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- {{ muestras | json }} -->


  <ion-list>

    <ion-item *ngFor="let muestra of muestras">
      <!--
      <ion-avatar slot="start">
        <img src="/docs/assets/img/avatar-finn.png"></img>
      </ion-avatar>
      -->

      <ion-label>
        <h2>
          {{muestra.muestra_qr}}
          <p style="float:right;">{{muestra.nota.nota_nombre}}</p>
        </h2>
        <h3>{{muestra.productor.productor_nombre}}</h3>
        <p>
          {{muestra.region.region_nombre}}
          <br>
          {{muestra.variedad.variedad_nombre}}
          <br>
          {{muestra.categoria.categoria_nombre}}
        </p>
      </ion-label>

    </ion-item>

  </ion-list>






</ion-content>

<ion-footer padding>
  <ion-button fill="solid" expand="block" color="light" (click)="irHome()">
    Volver
  </ion-button>
</ion-footer>
