<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Muestras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- {{ muestras | json }} -->


  <ion-list>
    <ion-item-sliding *ngFor="let muestra of muestras">
      <ion-item>
        <ion-label>
          <h2>
            <ng-template [ngIf]="muestra.categoria && muestra.categoria.categoria_nombre=='Premium'" [ngIfElse]="Standard">
              <ion-badge item-end color="warning">
                {{(muestra.categoria)?muestra.categoria.categoria_nombre:'Sin categoría'}}
              </ion-badge>
            </ng-template>  
            <ng-template #Standard>
                <ion-badge item-end color="primary">
                  {{(muestra.categoria)?muestra.categoria.categoria_nombre:'Sin categoría'}}
                </ion-badge>
            </ng-template>
            · {{muestra.muestra_qr}}

            <ion-badge style="float:right;" item-end color="light">
              {{(muestra.nota)?muestra.nota.nota_nombre:'Sin nota'}}
            </ion-badge>
          </h2>
          <h3>{{(muestra.productor)?muestra.productor.productor_nombre:'Sin productor'}}</h3>
          <p>
            {{(muestra.variedad)?muestra.variedad.variedad_nombre:'Sin variedad'}}
            <br>
            {{(muestra.region)?muestra.region.region_nombre:'Sin región'}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="danger">Eliminar</ion-item-option>
        <ion-item-option color="info">Anular</ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option (click)="irEditarMuestra(muestra)">Editar</ion-item-option>
      </ion-item-options>
    

    </ion-item-sliding>
  </ion-list>






</ion-content>

<ion-footer padding>
  <ion-button fill="solid" expand="block" color="light" (click)="irHome()">
    Volver
  </ion-button>
</ion-footer>
