<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso de Defectos para {{ nombreConcepto }}</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-item>
    <ion-label position="stacked">Grupo</ion-label>

    <ion-select
      okText="OK" cancelText="Cancelar"
      placeholder="Grupo"
      [(ngModel)]="defectoForm.grupo_id"
      [ngModelOptions]="{standalone: true}">
      
      <ion-select-option 
        *ngFor="let grupo of grupos" 
        [value]="grupo.grupo_id">
        {{ grupo.grupo_nombre }}
        
      </ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">Defecto</ion-label>

    <ion-select
      okText="OK" cancelText="Cancelar"
      placeholder="Defecto"
      [(ngModel)]="defectoForm.defecto_id"
      [ngModelOptions]="{standalone: true}">

      <ng-container *ngFor="let defecto of defectos">
          <ion-select-option *ngIf="defecto.concepto_id == codigoConcepto && defecto.grupo_id == defectoForm.grupo_id"
          [value]="defecto.defecto_id">
          {{ defecto.defecto_nombre }}
        </ion-select-option>
      </ng-container>

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nota</ion-label>

    <ion-input
      type="select" 
      placeholder="Valor Defecto"
      [(ngModel)]="defectoForm.valor_defecto"
      [ngModelOptions]="{standalone: true}">
    </ion-input>
  </ion-item>

</ion-content>

<ion-footer padding>
  <ion-button fill="solid" expand="block" color="primary" (click)="true">
    Guardar
  </ion-button>

  <ion-button fill="solid" expand="block" color="light" (click)="volverCalculoCondicion()">
    Volver
  </ion-button>
</ion-footer>